/var
/vendor
/.dockerignore
/docker/php.dockerfile
/compose.yaml
/Justfile
/php.ini
/phpstan.dist.neon
/phpstan.neon
/.php-cs-fixer.dist.php
/.php-cs-fixer.php
/phpunit.dist.xml
/phpunit.xml
/symfony.lock
/.phpactor.json
/.git
/.github/
/.gitignore
/infra/
